.calculator{
    width: 400px;
    height: 400px;
    text-align: center;
    border-radius: 15px;
    box-shadow: -30px 20px 100px 10px #FB184E78, -30px 20px 100px 10px #9747ff;
}


.app{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 5px;
}

input{
    width: 290px;
    height: 50px;
    border: 2px solid #2b2b2b;
    outline: none;
    margin: 10px;
}

button{
    width: 61px;
    height: 61px;
    background-color: #2b2b2b;
    color: white;
    border: none;
    margin: 5px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

::placeholder{
    font-size: 15px;
    font-weight: bold;
}

span{
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}